body {
  background-image: url('https://raw.githubusercontent.com/GCnomore/website-portfolio/master/img/backgrounds/andre-benz-wkhyXI5hRbo-unsplash.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100vh;
}
