a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none !important;
}

.addList,
.addCard {
  display: flex;
  flex-direction: column;
}

/* .addList > input,
.addCard > input {
  height: 1.5rem;
} */

.addList > div,
.addCard > div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.xBtn {
  font-size: 2rem;
  vertical-align: middle;
}

button {
  padding: 0 !important;
}

button > span:first-child {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
