.cardsContainer {
  width: 60vw;
  height: 70vh;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
}

.cardContentWrapper {
  display: flex;
  justify-content: space-between;
}

.cardContentLeft {
  width: 100%;
}

.cardContentRight {
  width: 40%;
}

.cardHeader > div {
  display: flex;
  justify-content: space-between;
}

.activity {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.activity > h2 {
  margin: 0;
}

.activity > button {
  height: fit-content;
  padding: 0.1rem 0 !important;
}

.description > input {
  width: 100%;
}

.cardContentLeft > input {
  width: 100%;
}
